* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

#banner {
  background-image: url("pic_portra/africa.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 1100px;
}

h1 {
  color: MidnightBlue;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  font-family: Gadget, sans-serif;
}

#banner .content h1 {
  border: solid 5px MidnightBlue;
  position: relative;
  top: 200px;
  width: 400px;
  margin: 0 auto;
  border-radius: 15px;
}

#gameboard {
  position: relative;
  text-align: center;
  top: 60px;
}

.card {
  display: inline-block;
  height: 500px;
  margin: 10px 10px;
  padding: 30px auto;
  text-align: center;
  width: 750px;
}

.card:hover {
  opacity: 0.8;
  cursor: url('film_pic/portra400_100.png'), default !important;
}

.card img {
  width: 750px;
  height: auto;
}

nav {
  padding-top: 60px;
}

nav > ul {
    background-color: white;
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
    color: MidnightBlue;
    font-weight: bold;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 30px;
    text-decoration: none;  /* 移除超連結底線 */
    border: 5px MidnightBlue solid;
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: MidnightBlue;
    color: white;
}

.flex-nav {
    display: flex;
    justify-content: space-evenly;
}
